
<div class="title _voice"><strong>Voice Samples</strong></div>

<div class="table">

  <div class="col _left">

    {%- include {{ PageBlock | append : 'voice/row.liquid' }} title="Voice Reels" type="soundcloud" source="738132402" -%}

    {%- include {{ PageBlock | append : 'voice/row.liquid' }} title="Advertising" type="soundcloud" source="738083880" -%}

    {%- include {{ PageBlock | append : 'voice/row.liquid' }} title="Corporate Narration" type="soundcloud" source="738103629" -%}

    {%- include {{ PageBlock | append : 'voice/row.liquid' }} title="TV/Film Documentary" type="soundcloud" source="1033767382" -%}

    {%- include {{ PageBlock | append : 'voice/row.liquid' }} title="E Learning" type="soundcloud" source="1036622734" -%}

    {%- include {{ PageBlock | append : 'voice/row.liquid' }} title="IVR" type="soundcloud" source="1033761361" -%}

  </div>

  <div class="col _right">

    {%- include {{ PageBlock | append : 'voice/row.liquid' }} title="Gaming" type="soundcloud" source="738089058" -%}

    {%- include {{ PageBlock | append : 'voice/row.liquid' }} title="Animation" type="soundcloud" source="738090177" -%}

    {%- include {{ PageBlock | append : 'voice/row.liquid' }} title="Audiobooks" type="soundcloud" source="738097131" -%}

    {%- include {{ PageBlock | append : 'voice/row.liquid' }} title="Radio Drama" type="soundcloud" source="738088785" -%}

    {%- include {{ PageBlock | append : 'voice/row.liquid' }} title="UK Accent/Spanish" type="soundcloud" source="738091125" -%}

    {%- include {{ PageBlock | append : 'voice/row.liquid' }} title="Singing" type="soundcloud" source="738090537" -%}

  </div>

</div>
